{{#if addNewQuestion}}
  <h3>New Question</h3>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      {{input value=username id="username"}}
    </div>

    <div class="form-group">
      <label for="questionTitle">Question</label>
      {{input value=title id="questionTitle"}}
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      {{input value=notes id="notes"}}
    </div>
    <button {{action 'saveQuestion'}}>Save</button>
  </form>
{{else}}
  <button class="btn btn-info" {{action 'questionFormShow'}}>New Question</button>
{{/if}}
