<h3>{{question.username}}</h3>
<p><strong>{{question.title}}</strong></p>
<p>{{question.notes}}</p>
{{edit-question question=question editQuestion="editQuestion"}}
<button class="btn btn-danger" {{action 'deleteQuestion' question}}>Delete</button>
