{{question-detail question=model}}
{{edit-question question=model editQuestion="editQuestion"}}
<button class="btn btn-danger" {{action 'deleteQuestion' model}}>Delete</button>

{{add-answer sendAnswer="sendAnswer" question=model}}
<h3 {{action 'countAnswers' model}}>test</h3>

<h2>Answers</h2>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer question=model}}
{{/each}}
