<div class="col-md-8">
  <div class="questionBox">
    {{question-detail question=model}}
  </div>
  <div class="buttonBox">
    {{edit-question question=model editQuestion="editQuestion"}}
    <button class="btn btn-danger" {{action 'deleteQuestion' model}}>Delete</button>
  </div>

  <div class="list-group">
    <h2>Answers</h2>
    {{#each model.answers as |answer|}}
      <div class="list-group-item">
        {{answer-tile answer=answer question=model}}
      </div>
    {{/each}}
  </div>
</div>

<div class="col-md-4">
  {{add-answer sendAnswer="sendAnswer" question=model}}
  <h3>{{post.answers.length}}</h3>
</div>
